.menu{
    background-color: rgb(255, 47, 231);
    padding: 10px;
}
.menu li{
    display: inline;
}
.menu::before{
    content: "Bonstay";
    padding: 50px;
    color: rgb(239, 242, 244);
    font-weight: bolder;
    font-size: 18px;
    font-family: cursive;
}
.menu li a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 12px 90px;
    font-weight: bold;
    font-size: 13px;
}

h5{
    background-color: brown;
    color: white;
    font-family: monospace
}
.container{
    color: rgb(255, 196, 0);
    background-size: cover;
    text-align: center;
}

.img{
    color: black;
    text-align: center;
    background-image: url("../businessregisteration.jpg");
    background-size: cover;
    width: auto;
    height: 560px;
}
.bookpage{
    text-align: center;
    background-image: url("../hotesl.jpg");
    width: auto;
    height: 600px;
    background-size: cover;
    color: #41e120;
    background-position: 0ch;
}
.hotels{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view{
    text-align: center;
}
.home{
    text-align: center;
}
