h1 {
    background-color: #1B5E20;
    background-image: linear-gradient(#2E7D32, #005C46);
    text-align: center;
    padding: 10px;
    color: #E8F5E9;
    margin-top: 60px;
    font-family: 'Segoe UI';
    font-size: 30px
}
h2 {
    background-color: #1B5E20;
    background-image: linear-gradient(#2E7D32, #005C46);
    text-align: center;
    color: #E8F5E9;
    margin-top: 50px;
    font-family: 'Segoe UI';
    font-size: 30px
}
h3 {
    color: #1B5E20;
    font-size: 20px;
    font-family: 'Segoe UI';
}
body {
    background-color: #E8F5E9;
}
.navlink-color {
    color: #1B5E20;
}
.unifying-font {
    font-family: 'Segoe UI';
    font-size: 20px;
    color: #1B5E20;
}


